[init]
  defaultBranch = master
[user]
  name = {{name}}
  email = {{email}}
[alias]
  co = commit
  ch = checkout
  rb = rebase
  ls = log --oneline -10
  ll = log --oneline
  lg = log --oneline --graph --decorate --abbrev-commit
  stat = status -u
  dif = diff --color-words
[push]
  default = simple
[pull]
  ff = only
[core]
  editor = vim
  # editor = mcedit
[diff]
  tool = vimdiff
  # tool = mcdiff
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
[difftool "vimdiff"]
  cmd = vimdiff $LOCAL $REMOTE
[difftool "mcdiff"]
  cmd = mcdiff $LOCAL $REMOTE
